

.big{

    width: 200px;
    height: 200px;
    margin:0 auto;
}


.small{
    width:50px;
    height:50px;
    text-align:center;
    line-height: 50px;
    font-size: 30;
    border: black solid 1px;
    float:left;
}


#turnbox{
    text-align:center;
    line-height: 30px;
    width: 154px;
    font-size: 30;
    border: black solid 1px;
    float:left;
}
